{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["transform-runtime"]
  ]
}